<html>
<head>
    <title>Cookies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color: #e8feff;">
    <nav class="navbar navbar-expand-lg mb-5" style="background-color: #e3f2fd;">
        <a class="navbar-brand mb-0 h1" href="/">Login Page</a>
    </nav>
    <div class="container">
        <center><div class="card border-danger" style="background-color: #e3f2fd; width: 50rem;" >
            <div class="card-body">
                <div class="card-text">
                    <center><h3>Good job!! The flag is right here you just have to look around</h3></center>
                    <center><h3>No rush our boy ricky will wait for you</h3></center>
                    <!-- <center><h3>ctf{flag}</h3></center> -->
                </div>
                <div id='output'></div>
                <div id='alerts'></div>
            </div>
        </div></center><br>
        <center><iframe width="840" height="500"
            src="https://www.youtube.com/embed/oHg5SJYRHA0?autoplay=1&mute=1">
            </iframe></center>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>